<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!--  Зависимости Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-icons-1.10.5/bootstrap-icons.css}" rel="stylesheet">
    <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>Список всех объявлений</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td style="width: 200px;">
                    <form class="form-inline my-2 my-lg-0" th:action="@{/posts/brandSearch}" method="post">
                        <input class="form-control mr-sm-2" type="search" placeholder="Поиск по марке" name="brand"
                               aria-label="Search">
                        <button class="btn btn-warning my-2 my-sm-0" type="submit">Поиск</button>
                    </form>
                </td>
                <td style="width: 200px;">
                    <form class="form-inline my-2 my-lg-0" th:action="@{/posts/bodyworkSearch}" method="post">
                        <input class="form-control mr-sm-2" type="search" placeholder="Поиск по кузову" name="bodywork"
                               aria-label="Search">
                        <button class="btn btn-info my-2 my-sm-0" type="submit">Поиск</button>
                    </form>
                </td>
                <td style="width: 200px;">
                    <form class="form-inline my-2 my-lg-0" th:action="@{/posts/engineSearch}" method="post">
                        <input class="form-control mr-sm-2" type="search" placeholder="Поиск по двигателю" name="engine"
                               aria-label="Search">
                        <button class="btn btn-info my-2 my-sm-0" type="submit">Поиск</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <div class="col-4">
                        <a class="btn btn-info w-130" th:href="@{/posts}">Все объявления</a>
                    </div>
                </td>
                <td style="width: 200px;">
                </td>
                <td style="width: 200px;">
                    <div class="col-4" th:if="${user.login != 'Гость'}">
                        <a class="btn btn-secondary w-130" th:href="@{/posts/create}">Добавить
                            объявление</a>
                    </div>
                    <div class="row" th:if="${user.login == 'Гость'}">
                        <h8>Войдите, чтобы добавить объявление</h8>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table table-hover">
            <tbody>
            <tr th:each="post: ${posts}">
                <td style="width: 100px;">
                    <img th:src="@{/files/{fileId}(fileId=${post.fileId})}" width="250" alt="No image"/>
                </td>
                <td style="width: 150px;">
                    <h3><a style="color: GoldenRod; text-decoration: none;" th:text="${post.carName}"
                           th:href="@{/posts/{id}(id=${post.id})}"></a>
                    </h3>
                    <h6 style="color: red;"><span th:if="${post.status}">Продан</span></h6>
                    <h6 style="color: green;"><span th:if="${!post.status}">В наличии</span></h6>
                    <h7><span th:text="${post.bodywork}"></span></h7>
                    <br>
                    <h7><span th:text="${post.engineName}"></span></h7>
                </td>
                <td>
                    <h3><span th:text="${post.price}"></span> ₽</h3>
                </td>
                <td>
                    <h8><span th:if="${post.userLogin == user.login}">
                    <a th:text="Редактировать" th:href="@{/posts/edit/{id}(id=${post.id})}"></a></span></h8>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>